In [5]:
#numeric location start with zero, use iloc attrubutes
#for index level use loc attribute
import pandas as pd
import numpy as np

In [7]:
sports = {'Archery':'Bhutan',
         'Golf':'Scotland',
         'Sumo':'Japan',
         'Taekwondo':'Spouth Korea'}
s = pd.Series(sports)
s

Archery            Bhutan
Golf             Scotland
Sumo                Japan
Taekwondo    Spouth Korea
dtype: object

In [8]:
#for fourth value we use iloc
s.iloc[3]

'Spouth Korea'

In [11]:
#use loc attributes to get which country has golf
s.loc['Golf']

'Scotland'

In [12]:
# if we pass integer it will take it as iloc
s[3]

'Spouth Korea'

In [13]:
# if passed object it will take it as level based loc attributes
s['Golf']

'Scotland'

In [14]:
# what if list of integers
#pandas can't determine the quering of index position or index level
# so for safer option use loc , iloc directly

In [20]:
sports = {99: 'Bhutan',
         100: 'Scotland',
         101: 'Japan',
         102: 'South Korea',}
s = pd.Series(sports)
s[0] 
#will retur key error bcz no item has index zero

KeyError: 0

In [21]:
s[99]

'Bhutan'

In [26]:
s = pd.Series([100.00,120.00,101.00,3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [22]:
#Creating data frame of floating point values

In [27]:
total = 0
for item in s:
    total += item
print(total)

324.0

In [29]:
#rewriting same code
total = np.sum(s)
print(total)

324.0