# Pandas DataFrame

In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101)

In [9]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [5]:
df

          W         X         Y         Z
A -1.942056 -1.068758  0.318711  0.211352
B -0.445535  0.241458 -0.105776  0.693314
C  0.330541 -1.391902  1.063718 -1.248284
D -0.417153  0.453253  0.425469 -1.434582
E  0.437511 -0.260029  0.150678  1.745643

In [10]:
df['W']

A    1.183774
B    0.405514
C    0.484119
D   -0.893715
E   -0.581461
Name: W, dtype: float64

In [11]:
type(df)

pandas.core.frame.DataFrame

In [12]:
type(df['W'])

pandas.core.series.Series

In [16]:
df[['W','Z']]

          W         Z
A  1.183774 -0.824384
B  0.405514 -1.065218
C  0.484119  0.684491
D -0.893715  3.254293
E -0.581461  0.523633

In [36]:
df['new'] = df['W'] + df['X']

In [37]:
df

          W         X         Y         Z       new
A  1.183774 -0.795518  0.245325 -0.824384  0.388256
B  0.405514  0.837055 -1.201274 -1.065218  1.242569
C  0.484119 -0.499928 -0.456545  0.684491 -0.015809
D -0.893715 -0.581852  1.189939  3.254293 -1.475567
E -0.581461 -0.647890 -0.460138  0.523633 -1.229350

In [40]:
df.drop('new',axis=1,inplace=True)

In [39]:
df

          W         X         Y         Z       new
A  1.183774 -0.795518  0.245325 -0.824384  0.388256
B  0.405514  0.837055 -1.201274 -1.065218  1.242569
C  0.484119 -0.499928 -0.456545  0.684491 -0.015809
D -0.893715 -0.581852  1.189939  3.254293 -1.475567
E -0.581461 -0.647890 -0.460138  0.523633 -1.229350

In [41]:
df.drop('E')

          W         X         Y         Z
A  1.183774 -0.795518  0.245325 -0.824384
B  0.405514  0.837055 -1.201274 -1.065218
C  0.484119 -0.499928 -0.456545  0.684491
D -0.893715 -0.581852  1.189939  3.254293