## Pandas - DataFRame Part3

In [2]:
import numpy as np
import pandas as pd

In [3]:
#Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [4]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [5]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [11]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

In [12]:
df

             A         B
G1 1  0.607803 -1.669384
   2  0.526638 -0.340176
   3  0.659756 -0.524691
G2 1 -1.056592  0.140790
   2  1.646840 -0.364438
   3 -1.107320  0.067523

In [16]:
df.index.names = ['Groups','Num']

In [14]:
df.loc['G2'].loc[2]['B']

-0.3644381354387011

In [17]:
df

                   A         B
Groups Num
G1     1    0.607803 -1.669384
       2    0.526638 -0.340176
       3    0.659756 -0.524691
G2     1   -1.056592  0.140790
       2    1.646840 -0.364438
       3   -1.107320  0.067523

In [18]:
#grabbing info -0.364438135438701

In [22]:
df.loc['G2'].loc[2]['B']

-0.3644381354387011

In [23]:
#garvving 0.659756

In [26]:
df.loc['G1'].loc[3]['A']

0.6597556660015258

In [28]:
#cross section

In [30]:
df.xs('G1')

            A         B
Num
1    0.607803 -1.669384
2    0.526638 -0.340176
3    0.659756 -0.524691

In [31]:
df

                   A         B
Groups Num
G1     1    0.607803 -1.669384
       2    0.526638 -0.340176
       3    0.659756 -0.524691
G2     1   -1.056592  0.140790
       2    1.646840 -0.364438
       3   -1.107320  0.067523

In [32]:
#getting value from num 1

In [33]:
df.xs(1,level = 'Num')

               A         B
Groups
G1      0.607803 -1.669384
G2     -1.056592  0.140790