In [1]:
#numeric location start with zero, use iloc attrubutes
#for index level use loc attribute
import pandas as pd
import numpy as np

In [2]:
sports = {'Archery':'Bhutan',
         'Golf':'Scotland',
         'Sumo':'Japan',
         'Taekwondo':'Spouth Korea'}
s = pd.Series(sports)
s

Archery            Bhutan
Golf             Scotland
Sumo                Japan
Taekwondo    Spouth Korea
dtype: object

In [3]:
#for fourth value we use iloc
s.iloc[3]

'Spouth Korea'

In [4]:
#use loc attributes to get which country has golf
s.loc['Golf']

'Scotland'

In [5]:
# if we pass integer it will take it as iloc
s[3]

'Spouth Korea'

In [6]:
# if passed object it will take it as level based loc attributes
s['Golf']

'Scotland'

In [7]:
# what if list of integers
#pandas can't determine the quering of index position or index level
# so for safer option use loc , iloc directly

In [8]:
sports = {99: 'Bhutan',
         100: 'Scotland',
         101: 'Japan',
         102: 'South Korea',}
s = pd.Series(sports)
s[0] 
#will retur key error bcz no item has index zero

KeyError: 0

In [9]:
s[99]

'Bhutan'

In [10]:
s = pd.Series([100.00,120.00,101.00,3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [12]:
#Creating data frame of floating point values

In [11]:
total = 0
for item in s:
    total += item
print(total)

324.0

In [12]:
#rewriting same code
total = np.sum(s)
print(total)

324.0

In [13]:
#random value from 0 to 9999
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

0    787
1    310
2    263
3      1
4    368
dtype: int32

In [14]:
len(s)

10000

In [15]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

1.28 ms ± 73.3 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [18]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

1.58 ms ± 72.2 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [19]:
# vectoraization

In [16]:
%%timeit -n 100
summary = np.sum(s)

88.3 µs ± 12 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [21]:
#broadcasting
#apply operation in every value of series

In [18]:
s += 2
s.head()

0    789
1    312
2    265
3      3
4    370
dtype: int32

In [38]:
#error to be solved
for label, value in s.iteritems():
    s.at[label,'312']
s.head()

TypeError: _get_value() got multiple values for argument 'takeable'

In [25]:
#comparing changing values throught iterating

In [20]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

566 ms ± 16.1 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [21]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

556 µs ± 260 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [40]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [41]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [42]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [43]:
# return which index has c
all_countries.loc['Cricket']

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object